/*COMMON CSS */
.goToTop {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: none;
  padding: 10px;
}

/*HOME PAGE */
.slider-top-left {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 250px;
  color: black;
  background-color: #ffb26c;
  border: 5px solid beige;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  border-radius: 10px;
  text-align: center;
}

.main_message {
  font-weight: bold;
  font-size: 40px;
}

.sub_message {
  font-size: 24px;
}

.sub_validity_message {
  font-size: 16px;
}

.shop_message {
  display: flex;
  justify-content: center;
  background-color: #114062;
  color: white;
}